{% extends 'base.html' %}

{% block title %}Greetings Page{% endblock %}

{% block content %}

<nav class="nav-hi">
    <ul>
        <li>
            <a href="{{ url_for('user.greetings', name='John', age=30)}}">Greet John</a>
        </li>
        <li>
            <a href="{{ url_for('user.admin')}}">Admin</a>
        </li>
    </ul>
</nav>

<h2 class="greeting-h2">Hello, {{ name }}</h2>
{% if age %}
    <p class="p-greetings">You are {{ age }} years old.</p>
{% else %}
    <p class="p-greetings">Age is uknown.</p>
{% endif %}
{% endblock %}