*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.navbar {
    margin-bottom: 25px;
    justify-content: flex-end !important;
    padding: 10px 20px;
}

/* footer styles*/

.footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px 20px;
}

.footer p{
    margin: 0;
}

.footer .bi{
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #000;
    font-size: 24px;
}

/* resume header styles*/

.container header{
    margin-bottom: 50px;
}

.container header img{
    border-radius: 50%;
}

.container #about, #education, #skills, #experience{
    width: 50%;
}

.nav-hi {
    background-color: #007bff;
    padding: 1rem;
}

.nav-hi ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav-hi ul li {
    display: inline;
}

.nav-hi ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-hi ul li a:hover {
    text-decoration: underline;
}

/* Greeting Section Styles */
.greeting-h2 {
    color: #007bff;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.p-greetings {
    text-align: center;
    font-size: 1.25rem;
    color: #555;
    margin-top: 0.5rem;
}