{% extends "base.html" %}

{% block content %}
<div class="container">
    <header>
        <h1>Про мене</h1>
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Фото профілю" class="img-fluid rounded-circle">
        <p>Email: <a href="mailto:ihor.babiichuk.22@pnu.edu.ua">ihor.babiichuk.22@pnu.edu.ua</a></p>
    </header>

    <section id="introduction">
        <h2>Коротка історія</h2>
        <p>Привіт! Мене звати Ігор, і я молодий веб-розробник з України. Моя подорож у світ програмування почалася, коли я був ще підлітком. Перший раз я спробував створити свій власний веб-сайт для друзів, і цей досвід надзвичайно мене зацікавив. Я зрозумів, що програмування дозволяє мені втілювати свої ідеї у життя та створювати щось корисне.</p>
    </section>

    <section id="why_programming">
        <h2>Чому програмування?</h2>
        <p>Я завжди був захоплений технологіями і тим, як вони можуть змінювати наше життя. З кожним новим проектом я відкриваю для себе щось нове, вчусь розв'язувати проблеми і розвиваю свої навички. Це дає мені змогу постійно зростати як особистість та професіонал.</p>
    </section>

    <section id="hobbies">
        <h2>Хобі</h2>
        <p>Крім програмування, я захоплююся читанням наукової фантастики, подорожами та фотографією. Я вважаю, що хобі допомагає зберігати баланс у житті і надихає мене на нові ідеї для проектів.</p>
    </section>
</div>
{% endblock %}
