{% extends "base.html" %}

{% block content %}
<div class="container">
    <header>
        <h1>Освіта</h1>
    </header>

    <section id="formal-education">
        <h2>Офіційна освіта</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Прикарпатський університет імені Василя Стефаника</strong><br>
                Факультет математики та інформатики<br>
                Спеціальність: Інженерія програмного забезпечення<br>
                Роки навчання: 2022 - 2026
            </li>
        </ul>
    </section>

    <section id="additional-courses">
        <h2>Додаткові курси</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Курс "Основи веб-розробки"</strong><br>
                Платформа: Udemy<br>
                Рік: 2023
            </li>
            <li class="list-group-item">
                <strong>Курс "Програмування на Python"</strong><br>
                Платформа: Coursera<br>
                Рік: 2022
            </li>
        </ul>
    </section>
</div>
{% endblock %}